.sell {
    text-align: center;
}
.sell .fields {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 2rem;
    text-align: center;
    width: 50vw;
    margin: 3rem auto;
}
.sell input {
    padding: 1rem;
    height: 1rem;
    width: 20rem;
    font-size: 1.3rem;
    outline: none;
}

.sell .label {
    color: white;
    transition: all .3s ease-in;
    text-align: left;
    padding: .2rem .5rem;
    font-size: 1.2rem;
    display: block;
}
input:placeholder-shown + label {
    visibility: hidden;
    text-align: left;
    transform: translateY(-100%);
}
.sell .sell {
    padding: 1rem 2rem;
    background-color: rgb(4, 5, 5);
    color: white;
    cursor: pointer;
}